  <!-- end of navbar section-->
  <div id="wrapper" ng-controller="sidebarController as sideControl">
    <!--SIDEBAR-->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">RCB STUDENTS</a>
        </li>
        <li ng-repeat="student in students">
          {{ student.firstName }} {{ student.lastName }}
        </li>
      </ul>
    </div>
    <!--end sidebar wrapper-->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-info">
              <div class="panel-heading">Recent chat history</div>
              <div class="panel-body">
                <ul class="student-list">
                  <li class="student">
                    <div class="student-body">
                      <div class="student">
                        <img src="student image goes here">
                        <a class="pull-left" data-toggle="modal" data-target="#profileView" href="#">profile modal here</a>
                        <div class="student-body">
                            
                            Donec sit aet ligula enim. Duis vel condimentum massa.


                            Duis vel condimentum massa.
                            Donec sit amet ligula enim. Duis vel condimentum massa.
                            
                        </div>
                        <br>
                        <small class="text-muted">Chris Campbell | April 2, 2016 at 1:17pm</small>
                        <hr>
                      </div>
                    </div>                                    
                  </li>
                </ul>
              </div>
              <div class="panel-footer">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter Message">
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="button">SEND</button>
                  </span>
                </div>
              </div>
            </div>
            
            <button class="btn btn-default" id="menu-toggle">toggle menu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <!-- Profile page modal -->
  <div class="modal fade" id="profileView">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label=""><span>&times;</span></button>
          <h4 class="modal-title"> User Profile </h4>
        </div>
        <div class="modal-body"> 
          <center>
            <img src="#">
            <h3 class="username"> Chris Campbell </h3>
            <span>Skills: </span>
            <span class="label label-info"> html5/css</span>
            <span class="label label-info"> MongoDB</span>
            <span class="label label-info"> Express.js</span>
            <span class="label label-info"> Javascript</span>
            <br>          
          </center>
          <hr>
          <center>
            <p class="text-left">
              <strong>Bio: </strong>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.
            </p>
          </center>
        </div>
        <div class="modal-footer">
          <center>
            <button type="button" class="btn btn-default" href="#">Show Full Profile</button>
          </center>
        </div>
      </div>
    </div>
  </div>