<div class="container">
  <div class="col-md-6 col-sm-offset-3 col-xs-6-offset-3" id="login-form">
    <div class="panel panel-default" id="profile-edit" ng-controller="#">
      <div class="panel-body">
        <div class="row">
          <form ng-submit="#" class="form-profile-edit" autocomplete="off">  
            <h2 class="form-signin-heading">Edit Profile</h2>
            <br>
              <input type="text" class="form-control" ng-model="#" placeholder="Picture URL" required="" autofocus="" />
              <input type="text" class="form-control" ng-model="#" placeholder="Job Title" />
              <input type="text" class="form-control" ng-model="#" placeholder="Job Description" />
               <input type="text" class="form-control" ng-model="#" placeholder="Biography" />
              <input type="text" class="form-control" ng-model="#" placeholder="Skills" />  
              <input type="text" class="form-control" ng-model="#" placeholder="Currently Learning" /> 
              <input type="text" class="form-control" ng-model="#" placeholder="Recently Learned" />    
              <br>  
              <h4>Social Media</h4>
              <input type="text" class="form-control" ng-model="#" placeholder="LinkedIn" /> 
              <input type="text" class="form-control" ng-model="#" placeholder="Github" /> 
              <input type="text" class="form-control" ng-model="#" placeholder="Twitter" /> 
              <input type="text" class="form-control" ng-model="#" placeholder="Facebook" /> 
              <br>
              <button class="btn btn-lg  btn-block" type="submit">Make Changes</button>  
              <a sref="homepage">cancel</a> 
          </form>
        </div>
      </div>
    </div>
  </div>
</div>