
  <div class="container" ng-controller="profileController">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="header">RCB User Profile </h2>
        <br>
      </div>
    </div>
    <!--USER PROFILE ROW STARTS -->
    <div class="row">
      <div class="col-sm-3">
        <div class="user-wrapper-student">
          <img src="{{ pic }}" class="img-responsive">
          <div class="description">
            <h4>{{ fname }} {{ lname }}</h4>
            <h5> <strong>{{ jobTitle }}</strong></h5>
            <p>{{ jobDesc }}</p>
            <hr>
            <a href="#" class="btn btn-danger btn-sm">message me</a>
          </div>
        </div>
      </div>
      <div class="col-sm-9 user-wrapper">
        <div class="description">
          <h3 class="bio">Biography:</h3>
          <p>{{ bio }}</p>
          <hr>
          <!-- Skill Section -->
            <div>
              <ul class="skills">
                Skills
                <li ng-repeat>
                </li>
              </ul>
            </div>
          <hr>
          <!-- TODO Insert angular table -->
          <button ng-click="loadRepos()">Load</button>
          <table ng-table="githubTable" show-filter="true">
            <tr ng-repeat="repo in $data">
              <td data-title="'Name of Repository'" sortable="'full_name'" filter="{full_name: 'text'}"> {{ repo.full_name }} </td>
              <td data-title="'Description'" sortable="'description'" filter="{description: 'text'}"> {{ repo.description }} </td>
            </tr>
          </table>
          <hr>
          <a href="{{ facebookLink }}" class="btn btn-primary" target="_blank">facebook</a>
          <a href="{{ githubLink }}" class="btn btn-primary" target="_blank">github</a>
          <a href="{{ twitterLink }}" class="btn btn-primary" target="_blank">twitter</a>
          <a href="{{ linkedinLink }}" class="btn btn-primary" target="_blank">linkedin</a>

        </div>
      </div>
    </div>
  </div>
  