  <div class="row text-center forum1">
    <!-- <img src="https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/logos/Rutgers_University_New_Brunswick.png" height="200px" width="200px">  -->
    <br>
    <h1><strong>THE RCB ALUMNI FORUM</strong></h1>
  </div>

  <div  id="grad" class="row text-center main-link-area">
    <div class="col-xs-12">
      <a class="main-link" ui-sref="messageboard">Message Board</a>
    </div>  
  </div>

  <div class="purpose row col-md-12 text-center">
        <div class="col-md-6 col-xs-12 text-center">
            <h2>Purpose</h2>
            <p>This is a node.js chatroom application powered by Angular and Express. The central purpose of the RCB Alumni Chat is to provide a networking space that will encourage an ongoing dialogue between RCB Alumni as they search for internships, employment, become established in a new position, and continue to look for new opportunities.</p>
        </div>
      <div class="purpose-img  col-md-6 col-xs-12">
        <img src="/img/class.jpg" class="img-responsive">
      </div>
          

  </div>