body{
  background-color: white;
  background-image: url("");
}

.navbar-default{
  background-color: #e60000;
}

#navbrand{
  color: #fff;
}

.forum1{
  padding-top: 175px;
}

.main-link-area{
  padding: 70px 0;
}

.main-link,
.main-link:hover,
.main-link:link{
  font-size: 2em;
  background: #e60000;
  text-decoration: none;
  color: #fff;
  padding: 25px;
  border-radius: 30px;
  transition: all 1.4s;
}

.main-link:hover{
  background: #FF3132;
  text-shadow: 0 0 35px #D6D6D6;
}

.nav-username{
  font-size: 1.3em;
  color: #fff;
  padding-right: 15px;
  cursor: pointer;
}

.glyphicon-cog{
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  padding-top: 10px;
}

/*studentProfilePage*/

.bio {
  color: red;
}

.header {
  text-decoration: underline;
  font-weight: bold;
  color: red;
}

.skills {
  font-weight: bold;
  color:red;
}


