body{
  background-color: white;
  background-image: url("");
}

nav.navbar-default{
  background-color: #e60000;
}

div.forum1 {
    text-align: center;
    height: 10em;
    position: relative;
    font-size: 100;
    padding-top: 300px;
 }

div.forum2 {
  text-align: center;
  position: relative;
  font-size:100;
  top:100px;
}

div.forum3 {
  text-align: center;
  position: relative;
  font-size:100;
  top:100px;
}


 


/*experimentation*/
