body{
  background-color: #fff;
  background-image: url("");
}

.navbar-default{
  background-color: #e60000;
}

#navbrand{
  color: #fff;
}

.forum1{
  
  padding-top: 250px;
  background-image: url("/img/ru.png");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: 300px;
  background-position: 50% 30%; 

}
#grad {
  background: #dcdcdc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(255,0,0,0),rgba(100,100,100,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(rgba(255,0,0,0),rgba(100,100,100,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(rgba(255,0,0,0),rgba(100,100,100,1)); /*Fx 3.6-15*/
  background: linear-gradient( rgba(255,0,0,0), rgba(100,100,100,1)); /*Standard*/
}


.main-link-area{
  padding: 70px 0;
  
}

.main-link,
.main-link:hover,
.main-link:link{
  font-size: 2em;
  background: #e60000;
  text-decoration: none;
  color: #fff;
  padding: 25px;
  border-radius: 30px;
  transition: all 1.4s;
}

.main-link:hover{
  background: #FF3132;
  text-shadow: 0 0 35px #D6D6D6;
}

.nav-username{
  font-size: 1.3em;
  color: #fff;
  padding-right: 15px;
  cursor: pointer;
}

.glyphicon-chevron-down{
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  padding-top: 10px;
}

.loggedinLink{
  cursor: pointer;
}

.dropdown .dropdown-menu{
  display: block;
  opacity: 0;
  -moz-transition:    all 1000ms ease;
  -webkit-transition: all 1000ms ease;
  -o-transition:      all 1000ms ease;
  -ms-transition:     all 1000ms ease;
  transition:         all 1000ms ease;

}
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

#footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: red;
}

#footer-bottom p {
  color: white;
  font-size: 1.3em;
}

/*studentProfilePage*/

.bio {
  color: red;
}

.git {
  color: red;
}

.header {
  text-decoration: underline;
  font-weight: bold;
  color: red;
}

.skills {
  font-weight: bold;
  color:red;
}

/* Profile Edit Page */

.skill-edit{
  display: inline-block;
}

.skills_to_be{
  background: red;
  font-size: 1em;
  color: #fff;
  padding: 3px;
  margin-right: 5px;
}


/* PROFILE MODAL */
.profile-modal {
  width: 100%;
  max-width: 300px;
}

.purpose {
  padding-top: 60px; 
  padding-bottom: 30px;

}

.github-table-inactive,
.github-hide{
  display: none;
}

.github-table-active{
  display: block;
}

/* GITHUB BUTTONS */
.github-hide,
.github-show{
  color: red;
  background: #fff;
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 1.1em;
  border: 5px solid red;
  transition: all 2s;
}

.github-hide:hover,
.github-show:hover{
  text-shadow: 0 0 3px #C27B5A;
}

/* PURPOSE SECTION */
.purpose-img {
  
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: 400px;
  min-height: 275px;
  
}

.purpose h2 {
  color: red;
}
   
/* FEATURES SECTION */

.features {
  padding-top: 30px;
  padding-bottom: 30px;
}

.features h2 {
  color: red;
}

/* MESSAGES */
#messageList{
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  overflow: auto;
  max-height: 350px;
  min-height: 350px;
}

.messageUser{
  font-weight: bold;
  margin: 0;
}

.message{
  font-size: 1.1em;
}

