<!DOCTYPE html>
<html ng-app="RCBmessenger">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/rutgers_block_r.jpg">
    <title>THE RCB Alumni Forum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <!--link href="css/bootstrap.min.css" rel="stylesheet"-->
   <link rel="stylesheet" type="text/css" href="../css/homepage.css">
   <link rel="stylesheet" type="text/css" href="../css/messenger.css">
  </head>
  <body>

  <header ng-controller="navController">
    <!-- begining of navbar section-->
    <nav class="navbar navbar-default">
      <div class="container-fluid" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="navbrand" class="navbar-brand" ui-sref="welcome">RU</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!-- Sign Up Button-->
           
           <div class="navbar-right" ng-hide="loggedIn">
            <button type="button" class="btn btn-primary col-xs-12 col-md-6" data-toggle="modal" data-target="#signupform">Sign Up</button>
            <!-- Log In Button-->
            <button type="button" class="btn btn-primary col-xs-12 col-md-6" data-toggle="modal" data-target="#loginform">Log In</button>
          </div> 
          <div class="navbar-right pull-right" ng-show="loggedIn">
            <span class="nav-username dropdown-toggle" data-toggle="dropdown">{{user}}</span><span class="glyphicon glyphicon-chevron-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></span>
              
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a class="loggedinLink" role="menuitem" tabindex="-1" ui-sref="profileedit">Edit Profile <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
              <li role="presentation"><a class="loggedinLink" role="menuitem" tabindex="-1" ng-click="logout()">Logout <span class="glyphicon glyphicon-log-out pull-right"></span></a></li> 
            </ul>               
          </div>
        </div>
      </div>
    </nav>

    <div class="row text-center" ng-hide="loggedIn">
      <p ng-show="newRegister">Thank you for registering.</p>
    </div>

    <div class="row text-center" ng-hide="loggedIn">
      <p ng-show="loginFail">Your credentials do not work.</p>
    </div>

    <!--pop up sign up form-->
    <div class="modal fade" id="signupform">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label=""><span>&times;</span></button>
            <h4 class="modal-title">Sign Up</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-md-4 cold-md-offset-1"> First Name</label>
                <div class="col-md-5">
                  <input type="text" class="form-control input-sm" ng-model="registerFirstName">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 cold-md-offset-1"> Last Name</label>
                <div class="col-md-5">
                  <input type="text" class="form-control input-sm" ng-model="registerLastName">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 cold-md-offset-1"> Email </label>
                <div class="col-md-5">
                  <input type="email" class="form-control input-sm" ng-model="registerEmail">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 cold-md-offset-1"> Section </label>
                <div class="col-md-5">
                  <input type="text" class="form-control input-sm" ng-model="registerSection">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 cold-md-offset-1"> Password</label>
                <div class="col-md-5">
                  <input type="password" class="form-control input-sm" ng-model="registerPassword">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 cold-md-offset-1"> Confirm Password</label>
                <div class="col-md-5">
                  <input type="password" class="form-control input-sm">
                </div>
              </div>

              <div class="form-group">
                <center>
                  <input type="submit" class="btn btn-success" value="submit" data-dismiss="modal" ng-click="register()">
                </center>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Pop up Login Form -->
    <div class="modal fade" id="loginform">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-center topsy" >
            <button type="button" class="close" data-dismiss="modal" aria-label=""><span>&times;</span></button>
            <h4 class="modal-title"> Log In</h4>
          </div>
          <div class="modal-body"> 
            <form class="form-horizontal">

              <div class="form-group">
                <label class="col-md-4 cold-md-offset-1"> Email </label>
                <div class="col-md-5">
                  <input type="email" class="form-control input-sm" ng-model="loginEmail">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 cold-md-offset-1"> Password</label>
                <div class="col-md-5">
                  <input type="password" class="form-control input-sm" ng-model="loginPassword">
                </div>
              </div>

              <div class="form-group">
                <center>
                  <input type="submit" class="btn btn-success" value="submit" data-dismiss="modal" ng-click="login()">
                </center>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </header>

  <ui-view></ui-view>

    <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/functionality.js"></script>

  </body>
</html>